<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @club.slogan %>
</p>

<p>
  <strong>Fundation:</strong>
  <%= @club.fundation %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @club.addres %>
</p>

<p>
  <strong>Director:</strong>
  <%= @club.club_director.member.name %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
