<%= form_with(model: honor, local: true) do |form| %>
  <% if honor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(honor.errors.count, "error") %> prohibited this honor from being saved:</h2>

      <ul>
        <% honor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.All, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_area :requirements %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
