<p id="notice"><%= notice %></p>

<h1>Honors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image url</th>
      <th>Requirements</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @honors.each do |honor| %>
      <tr>
        <td><%= honor.name %></td>
        <td><%= honor.image_url %></td>
        <td><%= honor.requirements %></td>
        <td><%= link_to 'Show', honor %></td>
        <td><%= link_to 'Edit', edit_honor_path(honor) %></td>
        <td><%= link_to 'Destroy', honor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Honor', new_honor_path %>
